# CMake build files
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
*.ninja
.ninja_deps
.ninja_log

# CLion/IntelliJ IDE files
.idea/
*.iml
*.ipr
*.iws

# Backup or log files
*.log

# Temporary/test/cache files
Testing/
*.o
*.obj
*.tmp
*.swp
*.swo
*.bak
*.cache
*.DS_Store
.clion*

# Exclude generated replies from CMake API
.cmake/